* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
}

.content {
  display: block;
  position: relative;
  width: calc(100% - 46pt);
  max-width: 700pt;
  box-sizing: border-box;
  padding: 20pt;
  margin: 20pt auto;
  background-color: #ffffff;
  border: 3pt dotted #e0e0e0;
  box-shadow: 0 0 5px #888;
}

h1, h2 {
  font-family: 'Pacifico', 'Arial', 'sans-serif';
  text-align: center;
  color: #202020;
}

h1 {
  font-size: 40pt;
  line-height: 40pt;
  margin-top: 20pt;
}

h2 {
  font-size: 24pt;
  line-height: 24pt;
  margin-top: 20pt;
}

p {
  color: #101010;
  font-family: 'Roboto Slab', 'Times New Roman', 'serif';
  margin-top: 12pt;
  line-height: 32pt;
  font-size: 14pt;
  text-indent: 32pt;
  margin: 16pt 32pt;
}

p.subtle {
  text-align: center;
  text-indent: 0;
  font-style: italic;
  font-size: 12pt;
  color: #808080;
}

p.small {
  text-align: center;
  text-indent: 0;
  font-style: italic;
  font-size: 12pt;
  color: #606060;
  width: 66%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

p a {
  text-decoration: none;
  color: #0066FF;
  font-weight: 700;
}

p a:hover {
  color: #0051CA;
}

.content img {
  display: block;
  position: relative;
  max-width: 80%;
  margin: 10pt auto;
  max-height: 80vh;
  box-shadow: 0 0 3px #444;
}

.signup-form {
  text-align: center;
  padding-bottom: 20px;
}

.signup-form input {
  padding: 5px;
  font-family: Roboto, Arial, sans-serif;
}

@media (max-width: 800px) {
  .content {
    width: calc(100% - 24pt);
    padding: 10pt;
    margin: 10pt auto;
    border-size: 2pt;
  }

  h1 {
    font-size: 30pt;
    line-height: 30pt;
    margin-top: 20pt;
  }

  h2 {
    font-size: 18pt;
    line-height: 18pt;
    margin-top: 20pt;
  }

  p {
    line-height: 24pt;
    font-size: 12pt;
    text-indent: 24pt;
    margin: 20pt 4pt;
  }

  p.subtle {
    margin: 20pt 8pt;
    font-size: 10pt;
    line-height: 18pt;
  }

  .content img {
    max-width: 100%;
  }
}